{% extends "base_layout.html" %}

{% block content %}
    <h3><i class="fa fa-print"></i> Print Labels</h3>
    <hr>
    <a class="btn btn-theme03 btn-xs" href="{% url 'download_template_1' %}"><i class="fa fa-file"></i> Download Template (75x50)</a>
    <a class="btn btn-theme03 btn-xs" href="{% url 'download_template_2' %}"><i class="fa fa-file"></i> Download Template (150x100)</a>
    <div class="row mt">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-panel">
                    <h4 class="mb centered"><strong>Upload Product List</strong></h4>
                    <form class="form-horizontal style-form" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                {{ form.docfile }}
                            </div>
                            <div class="col-sm-1"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <input type="submit" class="btn btn-block btn-theme btn-xl" value="Get Labels">
                            </div>
                            <div class="col-sm-1"></div>
                        </div>  
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
{% endblock %}